<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="index.html" class="page-header__logo">
                <img src="img/logo.svg" alt="" class="page-header__logo-image">
            </a>
            <nav class="page-header__nav">
                <a href="#" class="page-header__catalog-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                        <use xlink:href="#catalog-burger"></use>
                    </svg>
                    <span>
                        Каталог
                    </span>

                </a>
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            <span>
                                Услуги
                            </span>
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            <span>
                                О компании
                            </span>
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            <span>
                                Контакты
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
            <a href="#" class="page-header__whats-app">
                <span>
                    8 800 000-88-88
                </span>
                <img src="img/whatsapp.svg" alt="" class="page-header__whats-app-logo">
            </a>
            <a href="#" class="page-header__comparisons">
                <svg width="14" height="14" aria-hidden="true" class="icon-comparisons">
                    <use xlink:href="#comparisons"></use>
                </svg>
                <div class="page-header__comparisons-notifications">
                    2
                </div>
            </a>
            <a href="#" class="page-header__mobile-phone-link">
                <svg width="14" height="14" aria-hidden="true" class="icon-phone">
                    <use xlink:href="#phone"></use>
                </svg>
            </a>
            <a href="#" class="arrow-btn page-header__contact-btn">
                Консультация
            </a>
            <button class="page-header__burger">
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>