{{#extend "layout"}}
{{#content "main"}}

<section class="catalog-page">
    <div class="container">
        <div class="catalog-page__top-row">
            <div class="catalog-page__top-content">
                <h1 class="catalog-page__main-heading">
                    Каталог
                </h1>
                <div class="catalog-page__categories">
                    <ul class="catalog-page__categories-list">
                        <li class="catalog-page__categories-list-item ">
                            <a href="#" class="catalog-page__categories-link">
                                Всей техники
                            </a>
                        </li>
                        <li class="catalog-page__categories-list-item active">
                            <a href="#" class="catalog-page__categories-link">
                                По брендам
                            </a>
                        </li>
                        <li class="catalog-page__categories-list-item">
                            <a href="#" class="catalog-page__categories-link">
                                По типам ледорвых арен
                            </a>
                        </li>
                        <li class="catalog-page__categories-list-item">
                            <a href="#" class="catalog-page__categories-link">
                                По типам привода
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="catalog-page__best-brands">
                <svg width="14" height="14" aria-hidden="true" class="icon-star-special">
                    <use xlink:href="#star-special"></use>
                </svg>
                Лучшие бренды в одном месте,
                выберите свой!
            </div>

        </div>
        <div class="catalog-page__layout">

            <div class="catalog-page__main">

            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}