{{#extend "layout"}}
{{#content "main"}}

<section class="services">
    <div class="container">
        <h1 class="services__main-heading">
            Услуги
        </h1>
        <div class="services__intro">
            <div class="services__intro-row">
                <div class="services__intro-col">
                    <div class="services__intro-text">
                        <svg width="14" height="14" aria-hidden="true" class="icon-star-special">
                            <use xlink:href="#star-special"></use>
                        </svg>
                        <div class="services__intro-text-content">
                            <p>
                                Более 10 лет работаем в сфере комплексного оснащения спортивных сооружений —
                                от участия в проектировании до поставок спортивного и технологического
                                оборудования.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="services__intro-col">
                    <ul class="services__numbers-list">
                        <li class="services__numbers-list-item">
                            <div class="services__numbers-card">
                                <div class="services__numbers-card-amount">
                                    13
                                </div>
                                <div class="services__numbers-card-text">
                                    <p>
                                        лет на рынке
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="services__numbers-list-item">
                            <div class="services__numbers-card">
                                <div class="services__numbers-card-amount">
                                    500+
                                </div>
                                <div class="services__numbers-card-text">
                                    <p>
                                        реализованных проектов
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="services__numbers-list-item">
                            <div class="services__numbers-card">
                                <div class="services__numbers-card-amount">
                                    50
                                </div>
                                <div class="services__numbers-card-text">
                                    <p>
                                        ведущих брендов-партнеров
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="services__numbers-list-item">
                            <div class="services__numbers-card">
                                <div class="services__numbers-card-amount">
                                    35
                                </div>
                                <div class="services__numbers-card-text">
                                    <p>
                                        физкультурно-оздоровительных
                                        комплексов оснащены компанией
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="services__list">
            <li class="services__list-item services__list-item--fullwidth">
                <div class="services__card">
                    <div class="services__card-content">
                        <h2 class="services__card-title">
                            Комплексное оснащение
                            ледовых арен
                        </h2>
                        <ul class="services__minicards-list">
                            <li class="services__minicards-list-item">
                                <a href="#" class="services__minicard">
                                    <img src="img/minicards/1.svg" alt="" class="services__minicard-icon">
                                    Холодильное оборудование
                                </a>
                            </li>
                            <li class="services__minicards-list-item">
                                <a href="#" class="services__minicard">
                                    <img src="img/minicards/2.svg" alt="" class="services__minicard-icon">
                                    Станки для заточки
                                </a>
                            </li>
                            <li class="services__minicards-list-item">
                                <a href="#" class="services__minicard">
                                    <img src="img/minicards/3.svg" alt="" class="services__minicard-icon">
                                    Борта и трибуны
                                </a>
                            </li>
                            <li class="services__minicards-list-item">
                                <a href="#" class="services__minicard">
                                    <img src="img/minicards/4.svg" alt="" class="services__minicard-icon">
                                    Спортивный инвентарь
                                </a>
                            </li>
                            <li class="services__minicards-list-item">
                                <a href="#" class="services__minicard">
                                    <img src="img/minicards/5.svg" alt="" class="services__minicard-icon">
                                    Хоккейные тренажеры
                                </a>
                            </li>
                            <li class="services__minicards-list-item">
                                <a href="#" class="services__minicard">
                                    <img src="img/minicards/6.svg" alt="" class="services__minicard-icon">
                                    Освещение и табло
                                </a>
                            </li>
                        </ul>
                        <a href="#" class="arrow-btn-filled services__card-link">
                            Смотреть оборудование
                            <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="services__card-image-wrapper">
                        <img src="img/services/1.webp" alt="" class="services__card-image">
                    </div>
                </div>
            </li>
            <li class="services__list-item">
                <div class="services__card">
                    <div class="services__card-content">
                        <h2 class="services__card-title">
                            Техническое обслуживание и ремонт техники
                        </h2>
                        <ul class="services__minicards-list">
                            <li class="services__minicards-list-item">
                                <div class="services__minicard">
                                    <img src="img/minicards/7.svg" alt="" class="services__minicard-icon">
                                    Ремонт и обслуживание выполняем в строгом соответствии с требованиями
                                    фирмы-производителя
                                </div>
                            </li>

                        </ul>
                        <a href="#" class="arrow-btn-filled services__card-link">
                            Записаться на то
                            <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="services__card-image-wrapper">
                        <img src="img/services/2.webp" alt="" class="services__card-image">
                    </div>
                </div>
            </li>
            <li class="services__list-item">
                <div class="services__card">
                    <div class="services__card-content">
                        <h2 class="services__card-title">
                            Поставка комплектующих и запчастей
                        </h2>
                        <ul class="services__minicards-list">
                            <li class="services__minicards-list-item">
                                <div class="services__minicard">
                                    <img src="img/minicards/8.svg" alt="" class="services__minicard-icon">
                                    Оригинальные запчасти и комплектующие к большинству видов ледозаливочных комбайнов
                                </div>
                            </li>

                        </ul>
                        <a href="#" class="arrow-btn-filled services__card-link">
                            Уточнить наличие
                            <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="services__card-image-wrapper">
                        <img src="img/services/3.webp" alt="" class="services__card-image">
                    </div>
                </div>
            </li>
        </ul>
        {{> has-questions }}
    </div>
</section>

{{/content}}
{{/extend}}