.modal--warning {
  .modal__inner-modal {
    border: 3px solid #ED5835;
  }

  .modal__heading {
    max-width: 43rem;
    color: #ED5835;
  }
}

.comparison-page__params-block-content {
  height: auto;
}

.article__sidebar {
  position: relative;
}
