.modal--warning {
  .modal__inner-modal {
    border: 3px solid #ED5835;
  }

  .modal__heading {
    max-width: 43rem;
    color: #ED5835;
  }
}

.comparison-page__params-block-content {
  height: auto;
}

.article__sidebar {
  position: relative;
}

.article__layout {
  align-items: stretch;
}

.page-header__comparisons {
  @include breakpoint(mobile) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1.5rem;

    border-radius: 1rem;
    border: 2px solid #148EFF;

    svg {
      width: 1.2rem;
      height: 1.2rem;
      fill: #222222;
    }
  }

  @include breakpoint(supersmall-mobile) {
    margin-right: 1rem;
  }
}

.page-header__comparisons-notifications {
  @include breakpoint(mobile) {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% - 0.7rem);

    width: 1.5rem;
    height: 1.5rem;

    background-color: #148EFF;
    border: 0;

    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1;
  }
}

.page-header__mobile-phone-link {
  @include breakpoint(mobile) {
    margin-right: 2rem;
  }

  @include breakpoint(supersmall-mobile) {
    margin-right: 1rem;
  }
}