.contacts-page {
    padding-top: 18.5rem;
    padding-bottom: 9.5rem;

    @include breakpoint(mobile) {
        padding-top: 10rem;
        padding-bottom: 5rem;
    }
}

.contacts-page__main-heading {
    font-style: normal;
    font-weight: 800;
    font-size: 16rem;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 7rem;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.2rem;
    -webkit-text-stroke-color: var(--primary-color);

    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        font-weight: 800;
        font-size: 3.5rem;
        line-height: 100%;
        margin-bottom: 3rem;
        -webkit-text-stroke-width: 1px;
    }
}

.contacts-page__row {
    display: grid;
    grid-template-columns: minmax(0, 68rem) minmax(0, 1fr);
    grid-gap: 13rem;

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        grid-gap: initial;
    }
}


.contacts-page__col {
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        display: contents;
    }
}